# BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379
BULLMQ_CONCURRENCY=
BULLMQ_RETRY=
BULLMQ_BACKOFF=

# Connection
PROTOCOL_GRAPHQL_URL=
PROTOCOL_API_KEY=
PROTOCOL_API_JWT=

### Issuance ###
ORG_ID=

LOYALTY_DM_ID=

# V1
NETWORK_DM_ID=
TXN_DM_ID=
VOLUME_DM_ID=

# V2
SWAP_DM_ID=
BRIDGE_DM_ID=
CHAIN_DM_ID=
TRANSACT_DM_ID=

# Campaigns
ONCHAIN_DM_ID=
BOOSTOR_DM_ID=
JUMPER_OG_DM_ID=
TRANSFERTO_DM_ID=